### SQL :
- SQL, which stands for Structured Query Language, is a programming language designed to manage data stored in a relational database.
- Database organizes information into `one or more data tables`
- SQLite is a lightweight disk-based database, meaning we store data on a hard drive or another type of local storage. 
- Using the module **sqlite3**, we can create, read, update, and delete the data in the SQLite relational database within the Python environment.

1. Create connection between SQLite database and python environment.
    - connection = sqlite3.connect('database')

In [13]:
# # %%capture  - to hide the output

from IPython.display import Image
Image(url = "https://content.codecademy.com/programs/data-science-path/relational-databases/DataScienceArticle_Animation_1.gif", width = 500)

2. The cursor uses the cable to move back and forth to send messages and exchange data between the two :
    - cursor = connection.cursor()
3. create a table :
    - cursor.execute('''CREATE TABLE table_name(field_name1 type1, field_name2 type2, ...) ''')
4. insert the values into the table : 
    - cursor.execute('''INSERT INTO table_name(a,b,c) ''') <br>
    `type a b c must consistent with the created type`

In [19]:
import sqlite3

connection = sqlite3.connect('titanic.db')
cursor = connection.cursor()

# Create table named new_table
cursor.execute('''CREATE TABLE new_table(name TEXT, age INTEGER, username TEXT, pay_rate REAL) ''')
# Insert row of values into new_table
cursor.execute('''INSERT INTO new_table VALUES('Bob Peterson', 34, 'bob1234', 40.00) ''')

In [5]:
lst_a = [1,2,3,4,5,6,7]
lst_b = list(filter(lambda x:x%2 == 0, lst_a))
print(lst_b)

[2, 4, 6]